#!/bin/bash
cat <<EOF > /var/www/html/index.html
<html>
<head><title>Load Balancer Test</title></head>
<body>
<h1>Welcome to server $(hostname)</h1>
<img src='${image_url}' alt='Test image' width='500'>
</body>
</html>
EOF
systemctl restart httpd