---
- name: Initialize Kubernetes cluster on master
  hosts: master
  become: yes
  vars:
    pod_network_cidr: "10.244.0.0/16"
    service_network_cidr: "10.96.0.0/12"
    network_plugin: "flannel"
  tasks:
    - name: Initialize cluster
      command: |
        kubeadm init 
        --pod-network-cidr={{ pod_network_cidr }}
        --apiserver-advertise-address={{ ansible_default_ipv4.address }}
      args:
        creates: /etc/kubernetes/admin.conf

    - name: Configure kubectl for user
      become_user: ubuntu
      shell: |
        mkdir -p $HOME/.kube
        sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
        sudo chown $(id -u):$(id -g) $HOME/.kube/config

    - name: Install Flannel
      become_user: ubuntu
      command: kubectl apply -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
      environment:
        KUBECONFIG: /home/ubuntu/.kube/config

    - name: Get join command
      command: kubeadm token create --print-join-command
      register: join_command

    - name: Save join command
      copy:
        content: "{{ join_command.stdout }}"
        dest: /tmp/join-command.sh
        mode: 0755

- name: Join workers to cluster
  hosts: worker
  become: yes
  tasks:
    - name: Get join command from master
      command: cat /tmp/join-command.sh
      delegate_to: "{{ groups['master'][0] }}"
      register: join_command

    - name: Join cluster
      command: "{{ join_command.stdout }}"
      args:
        creates: /etc/kubernetes/kubelet.conf